<body>
	
	<div class="nav">
		<a href="">Home</a>
	</div>

	<div class="box">
		<h1>Coin Exchange</h1>
		<form method="post" action="change">
			<div class="inputBox">
				<input type="number" name="amount" min="1" required="">
				<label>Enter Amount</label>
			</div>	
			<div style="text-align: center;">
				<input type="submit" value=" > " id="hover">
			</div>	
		</form>
	</div>

</body>







