 <!DOCTYPE html>
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Justin's | Coin Exchange</title>
 <link rel="stylesheet" type="text/css" href="css/main.css">
 <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>


<body>
 

   
 
<%=yield%>


</body>

<footer class="footer">
	<h3>Made by Justin Browning</h3>
</footer>
<html>