<!DOCTYPE html>
<html>
<head>
	<title>Look at all the money!!</title>
</head>

<body>
	<div class="nav">
		<a href="/">Home</a>
	</div>

	<div class="box">
		<p style="color: white;">you got back <%= result %>.</p>
	</div>

</body>

</html>


