<!DOCTYPE html>
<html>
<head>
	<title>Coin Exchange | Result</title>
	<script>
		$(document).ready(function(){
			$("p").mouseover(function(){
				$("p").css("color", "black");
			});
			$("p").mouseout(function(){
				$("p").css("color", "white");
			});
		});
	</script>
</head>

<body>

	<div id="random" ></div> 
	<div class="nav">
		<a href="/">Home</a>
	</div>

	<div class="box">
		<h2 class="time" id="showTime"></h2>
		<p style="color: white;"><%result.each_pair do |key, value| %>
			<% if value > 1 && key == :penny %>
			<%key = "pennies" %>
			<% elsif value >1 %>
			<%key = key.to_s + "s" %>
			<%end%>
			<%= value%> <%= key%><br>
		 <% end%></p>
	</div>

</body>

</html>


