<!DOCTYPE html>
<html>
<head>
	<title>Look at all the money!!</title>
	<script>
		$(document).ready(function(){
			$("p").mouseover(function(){
				$("p").css("color", "black");
			});
			$("p").mouseout(function(){
				$("p").css("color", "white");
			});
		});
	</script>
</head>

<body>
	<div class="nav">
		<a href="/">Home</a>
	</div>

	<div class="box">
		<p style="color: white;">you got back <%= result %>.</p>
	</div>

</body>

</html>


